/
  \=================================
  Slider
  \=================================
%section#home
  #home-slider.flexslider
    %ul.slides
      %li
        = image_tag "restaurantes/slider/slide08.jpg"
        .flex-caption
          %h1.animated Tu libro de reservas simple, intuitivo y eficaz
          %p.animated Antes de visitarles a ustedes, sus clientes acuden a Internet
          %ul.flex-buttons
            %li
              = link_to "Entrar", new_restaurant_session_path
            %li
              = link_to "Crear cuenta", new_restaurant_registration_path
      %li
        = image_tag "restaurantes/slider/slide05.jpg"
        .flex-caption
          %h1.animated Great Branding is a Unforgetable experience
          %p.animated There's No Limit to What CrowdFlower Can Do - Just Ask Our Customers
          %ul.flex-buttons
            %li
              = link_to "Entrar", new_restaurant_session_path
            %li
              = link_to "Crear cuenta", new_restaurant_registration_path
      %li
        = image_tag "restaurantes/slider/slide06.jpg"
        .flex-caption
          %h1.animated Great Branding is a Unforgetable experience
          %p.animated There's No Limit to What CrowdFlower Can Do - Just Ask Our Customers
          %ul.flex-buttons
            %li
              = link_to "Entrar", new_restaurant_session_path
            %li
              = link_to "Crear cuenta", new_restaurant_registration_path