.container.wrapper-form
  .row
    .main
      %h3
        Por favor inicia sesión, o
        - if devise_mapping.registerable? && controller_name != 'registrations'
          = link_to "registrate", new_registration_path(resource_name)
      
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .form-group
          = f.input :email, :required => false, :autofocus => true, input_html: {class: "form-control", id: "inputUsernameEmail"}
        
        .form-group  
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), :class => "pull-right"
          = f.input :password, :required => false, input_html: {class: "form-control", id: "inputPassword"}
          
        %span.pull-right
          = f.input :remember_me, as: :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable?

        = f.button :submit, "Entrar", class: "btn btn btn-primary"
